GROQ_API_KEY=
TAVILY_API_KEY=
MODEL_URL=
MODEL_API=
MODEL_NAME=
MODEL_PROVIDER=
TELEGRAM_GATEWAY=
TELEGRAM_ALLOWED_IDS=
WA_PHONE_NUMBER=
WA_GATEWAY=false
WA_ALLOWED_NUMBERS=
DISCORD_GATEWAY=false
DISCORD_TOKEN_BOT=
DISCORD_GUILD_ID=
DISCORD_ALLOWED_IDS=
DISCORD_MAX_USERS=
WEBUI=false
NAME=
EMORA_HUB=https://emora-backend.vercel.app
PAIRING_CODE=EMORAGEN
